<%- include('../partials/head') %>
<%- include('../partials/header') %>


<h1 class="formTitle">Generación de tokens</h1>

<form action="/tokens/generate" method="POST" name="formTokenGeneration">        
    <div class="divSelectCompany">
        <select name="company" class="SelectCompany">
            <option value="default" selected>--Seleccione una institución--</option>
            <% companies.forEach(company => { %>
                <option value="<%= company.company_name %>"><%= company.company_name %></option>
            <% }) %>
        </select>
        <input type="button" value="+" class="buttonAddTokenGeneration">
    </div>
    <div class="divInputTokenGeneration">
        <label for="company_administrator_tokens" class="labelFormTokenGeneration">Licencias de administrador</label>
        <input type="number" name="company_administrator_tokens" class="input_form inputFormTokenGeneration">
    </div>
    <div class="divInputTokenGeneration">
        <label for="teacher_tokens" class="labelFormTokenGeneration">Licencias de profesor</label>
        <input type="number" name="teacher_tokens" class="input_form inputFormTokenGeneration">
    </div>
    <div class="divInputTokenGeneration">
        <label for="student_tokens" class="labelFormTokenGeneration">Licencias de alumno</label>
        <input type="number" name="student_tokens" class="input_form inputFormTokenGeneration">
    </div>
    <div class="divButtonsTokenGeneration">
        <input type="submit" value="Generar" class="buttonForm">
        <input type="reset" value="Cancelar" class="buttonForm">
    </div>        
</form>


<%- include('../partials/footer') %>