<%- include('../partials/head') %>
<%- include('../partials/header') %>

<h1 class="form-title">Tokens pendientes de asignación</h1>

<div class="div-form">
    <form action="/tokens/asignation" method="POST" name="form-token-asignation">
        <% if (notAsignedAdm.length>0) { %>
            <div class="div-tokens-to-asign">
                <p>Tokens de administrador</p>
                <% for( let i = 0; i < notAsignedAdm.length; i++ ) { %>
                    <div>
                        <span><%= '#'+(i+1)+': ' %></span>
                        <input type="text" name="<%= 'first_name_adm_'+ i %>" placeholder="Nombre">
                        <input type="text" name="<%= 'last_name_adm_'+ i %>" placeholder="Apellido">
                        <input type="text" name="<%= 'email_adm_'+ i %>" placeholder="Email">
                    </div>
                <% } %>
            </div>
        <% } %>

        <% if (notAsignedTeacher.length >0) { %>
            <div class="div-tokens-to-asign">
                <p>Tokens de profesor</p>
                <% for( let i = 0; i < notAsignedTeacher.length; i++ ) { %>
                    <div>
                        <span><%= '#'+(i+1)+': ' %></span>
                        <input type="text" name="<%= 'first_name_teacher_'+ i %>" placeholder="Nombre">
                        <input type="text" name="<%= 'last_name_teacher_'+ i %>" placeholder="Apellido">
                        <input type="text" name="<%= 'email_teacher'+ i %>" placeholder="Email">
                    </div>
                <% } %>
            </div>
        <% } %>

        <% if (notAsignedStudent.length>0) { %>
            <div class="div-tokens-to-asign">
                <p>Tokens de alumno</p>
                <% for( let i = 0; i < notAsignedStudent.length; i++ ) { %>
                    <div>
                        <span><%= '#'+(i+1)+': ' %></span>
                        <input type="text" name="<%= 'first_name_student_'+ i %>" placeholder="Nombre">
                        <input type="text" name="<%= 'last_name_student_'+ i %>" placeholder="Apellido">
                        <input type="text" name="<%= 'email_student'+ i %>" placeholder="Email">
                    </div>
                <% } %>
            </div>
        <% } %>

        <div class="buttons">
            <input type="submit" value="Asignar">
            <input type="reset" value="Cancelar">
        </div>
    </form>

</div>

<%- include('../partials/footer') %>