<%- include('../partials/head') %>
<%- include('../partials/header') %>

<h1 class="title1">Crear simulador</h1>

<form action="/simulators/create" method="POST" name="formCreateSimulator" class="form1">
    <div>
        <input type="text" name="simulatorName" placeholder="Nombre del simulador" class="input1  <%= locals.errors && errors.simulatorName ? 'isInvalid' : null %>" value="<%= locals.oldData ? oldData.simulatorName : null %>">
        <div class="divError1">
            <% if (locals.errors && errors.simulatorName) { %>
                <%= errors.simulatorName.msg %>
            <% } %>
        </div>
    </div>
    <div>
        <input type="text" name="simulatorDescription" placeholder="Descripción" class="input1 <%= locals.errors && errors.simulatorDescription ? 'isInvalid' : null %>" value="<%= locals.oldData ? oldData.simulatorDescription : null %>">
        <div class="divError1">
            <% if (locals.errors && errors.simulatorDescription) { %>
                <%= errors.simulatorDescription.msg %>
            <% } %>
        </div>
    </div>
    <div class="divButtons1">
        <input type="submit" value="Crear" class="button1">
        <input type="button" value="Cancelar" onclick="window.location.href='/users/profile'" class="button1">
    </div>
</form>

<script src="/js/createSimulator.js"></script>

<%- include('../partials/footer') %>